.header {
    height: 150px;
    background-color: #0a0351 !important;
    background-size: 100%;
    background-image: url(/stat/img/space_2294795_1280.jpg);
}
.header-block {
    position: relative;
    color: aliceblue;
    width: 100%;
    height: 100%;
}
.info-block {
    position: absolute;
    left: 15px;
    bottom:5px;
    text-shadow: 1px 1px 3px black;
}
.info-block > h6 {
    margin-bottom: 3px;
    font-weight: bold
}
.info-block > p {
    font-size: 0.7em;
    margin: 0;
}
.status-connection > p {
    position: absolute;
    right: 15px;
    bottom:5px;
    margin: 0;
    text-shadow: 1px 1px 1px black;
}
.heder-title {
    color:aliceblue;
    padding-top:35px;
    font-weight: bold;
    text-shadow: 2px 2px 1px black, 0 0 0.9em #008aff;
}
.heder-title > h1 {
    font-weight: bold;
    margin-bottom: 0px
}
.home-link {
    text-decoration: none;
    color: aliceblue;
    font-size: 0.7em;
}
.home-link:hover {
    color: #b6dcfe;
    text-decoration: none;
    font-size: 0.8em;
}
H1 > small {
    font-size: 0.4em;
}
.table img {
    max-width: 80px;
    height: 20px;
}
.table .thead-light th {
    color: #495057;
    background-color: #e9e9e9;
    border: 3px ridge #4b4b4b;
}
.table-bordered td {
    border: 3px ridge #4b4b4b;
}
.digit-speed {
    width: 2.5em;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}
.bage-fixsize {
    min-width:3em;
    margin-left: 4px;
    margin-right: 4px;
}